
$main-orange:#f78f1e;
$main-dark-orange:#ef8915;
$main-gray:#7b7878;
$main-light-gray: #6B7280;
$bg-white:#fafafa;
$bg-pink:#fde3c7;
$text-dark:#3d3935;
$text-light:#ffffff;
$text-error:#7F1D1D;
$text-danger: #E2DA1D;
$text-passed:#259A2A;