<div class="popup-background">
  <div class="change-popup">
    <div class="delete-icon">
      <button (click)="closeModal()">
        <img src="../../../assets/icons/close.svg" alt="" class="" />
      </button>
    </div>

    <div class="change-order-text">
      <img src="../../../assets/icons/question.svg" alt="" class="" />
      <p class="h-advent-medium">
        Finished orders can not be reverted back. Are you sure you want to flag
        this order as finished?
      </p>
      <div class="change-order-btns">
        <button (click)="closeModal()" class="btn-outline-orange">
          Cancel
        </button>
        <button (click)="confirmStatus()" class="btn-outline-orange">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
