@import "../../../app.component.scss";

.label-input-positioning {
  @include flex(column, start, start);
  gap: 5px;
  width: fit-content;
  label {
    @include textbase($text-dark, $advent, 16px, 700, 20px);
  }
  #factoryId {
    width: 204px;
  }
  #factoryName {
    width: 306px;
  }
  #factoryAddress {
    width: 261px;
  }
  #factoryCountry {
    width: 204px;
  }
  #productionLineId {
    width: 204px;
  }
  #productCode {
    width: 204px;
  }
  #productDescription {
    width: 638px;
  }
  #poNumber {
    width: 204px;
  }
  #expectedStartDate {
    width: 204px;
  }
}
