*::before,
*::after {
  box-sizing: border-box;
}
* {
  border: none;
  outline: 1px solid red;
}
img {
  display: block;
  max-width: 100%;
}
html{
  overflow-x:hidden ;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.content{
  width:100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;

}

.main-container{
  width:100%;
  max-width:1600px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}