<div class="popup-background">
  <div class="popup">
    <div class="title-section">
      <div class="top-title-section">
        <h4 class="h-advent-semibold">
          {{ editOrder ? 'Order: {{order.omsId}}' : 'Create new order' }}
        </h4>
        <button (click)="closeModal()">
          <img src="../../../assets/icons/close.svg" alt="" class="" />
        </button>
      </div>
      <div class="orange-line"></div>
    </div>
    <form (submit)="newOrder()" [formGroup]="addOrderForm">
      <!-- Omis Id -->
      <div class="oms">
        <span class="form-title" for="omsId">oms ID</span>
        <div class="gray-line"></div>
        <input id="omsId" type="text" placeholder="" formControlName="omsId" />
      </div>
      <!-- products -->
      <div class="form-section">
        <div class="form-title-section">
          <h2 class="form-title">Products</h2>
          <div class="gray-line"></div>
        </div>
        <div class="all-products">
          <div
            class="products-inputs"
            *ngFor="let product of products.controls; let i = index"
          >
            <button type="button" (click)="openProduct(i)">
              Product {{ i + 1 }}
            </button>
            <!-- inputs for products -->
            <div formArrayName="products">
              <div
                *ngIf="openedProductId === i"
                [formGroupName]="i"
                class="product-details"
              >
                <div class="label-input-positioning">
                  <label for="gtin">GTIN</label>
                  <input
                    id="gtin"
                    type="text"
                    placeholder=""
                    formControlName="gtin"
                  />
                </div>
                <div class="label-input-positioning">
                  <label for="quantity">Quantity</label>
                  <input
                    id="quantity"
                    type="text"
                    placeholder=""
                    formControlName="quantity"
                  />
                </div>
                <div class="label-input-positioning">
                  <label for="serialNumberType">Serial Number Type</label>
                  <input
                    id="serialNumberType"
                    type="text"
                    placeholder=""
                    formControlName="serialNumberType"
                  />
                </div>
                <div class="label-input-positioning">
                  <label for="serialNumbers">Serial Numbers</label>
                  <input
                    id="serialNumbers"
                    type="text"
                    placeholder=""
                    formControlName="serialNumbers"
                  />
                </div>
                <div class="label-input-positioning">
                  <label for="templateId">Template ID</label>
                  <input
                    id="templateId"
                    type="text"
                    placeholder=""
                    formControlName="templateId"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- add -products -->
          <button type="button" (click)="addProduct()" class="add-product-btn">
            <img
              src="../../../assets/icons/add-new.svg"
              alt=""
              class="add-image"
            />
            <span>Add a new product</span>
          </button>
        </div>
      </div>
      <!-- order details -->
      <div class="form-section">
        <div class="form-title-section">
          <h2 class="form-title">Order details:</h2>
          <div class="gray-line"></div>
        </div>

        <div formGroupName="orderDetails" class="order-details-inputs">
          <div class="label-input-positioning">
            <label for="factoryId">Factory ID</label>
            <input
              id="factoryId"
              type="text"
              placeholder=""
              formControlName="factoryId"
            />
          </div>
          <div class="label-input-positioning">
            <label for="factoryName">Factory Name</label>
            <input
              id="factoryName"
              type="text"
              placeholder=""
              formControlName="factoryName"
            />
          </div>
          <div class="label-input-positioning">
            <label for="factoryAddress">Factory Address</label>
            <input
              id="factoryAddress"
              type="text"
              placeholder=""
              formControlName="factoryAddress"
            />
          </div>
          <div class="label-input-positioning">
            <label for="factoryCountry">Factory Country</label>
            <input
              id="factoryCountry"
              type="text"
              placeholder=""
              formControlName="factoryCountry"
            />
          </div>
          <div class="label-input-positioning">
            <label for="productionLineId">Production Line ID</label>
            <input
              id="productionLineId"
              type="text"
              placeholder=""
              formControlName="productionLineId"
            />
          </div>
          <div class="label-input-positioning">
            <label for="productCode">Product Code</label>
            <input
              id="productCode"
              type="text"
              placeholder=""
              formControlName="productCode"
            />
          </div>
          <div class="label-input-positioning">
            <label for="productDescription">Product Description</label>
            <input
              id="productDescription"
              type="text"
              placeholder=""
              formControlName="productDescription"
            />
          </div>
          <div class="inputs-and-buttons">
            <div class="last-inputs">
              <div class="label-input-positioning">
                <label for="poNumber">PO Number</label>
                <input
                  id="poNumber"
                  type="text"
                  placeholder=""
                  formControlName="poNumber"
                />
              </div>
              <div class="label-input-positioning">
                <label for="expectedStartDate">Expected Start Date</label>
                <input
                  id="expectedStartDate"
                  type="text"
                  placeholder=""
                  formControlName="expectedStartDate"
                />
              </div>
            </div>
            <div class="modal-buttons">
              <button (click)="closeModal()" class="btn-outline">Cancel</button>
              <button type="submit" class="btn-solid">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
