@import "../../../app.component.scss";

.popup {
  padding: 40px;
  border-radius: 6px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 80%;
  height: 80%;
  overflow-y: scroll;
  div {
    width: 100%;
  }
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  img {
    width: 20px;
  }
}
form {
  width: 100%;
  gap: 38px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  .oms {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 38px;
    gap: 20px;
    width: 232px;
    input {
      width: 204px;
    }
  }
  .form-title {
    font-family: $advent;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  label {
    @include textbase($text-dark, $advent, 16px, 700, 20px);
  }
  .gray-line {
    opacity: 0.3;
    background-color: #7b7878;
    width: 100%;
    height: 2px;
  }
  .form-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
  }
  .form-title-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 14px;
  }
  .order-details-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 32px;
    padding-top: 14px;
    align-items: center;
    width: 100%;
  }
  .label-input-positioning {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    align-items: start;
    width: fit-content;

    #factoryId {
      width: 204px;
    }
    #factoryName {
      width: 306px;
    }
    #factoryAddress {
      width: 261px;
    }
    #factoryCountry {
      width: 204px;
    }
    #productionLineId {
      width: 204px;
    }
    #productCode {
      width: 204px;
    }
    #productDescription {
      width: 638px;
    }
    #poNumber {
      width: 204px;
    }
    #expectedStartDate {
      width: 204px;
    }
  }
  .inputs-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
  }
  .last-inputs {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 32px;
  }
  .modal-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 19px;
  }
}
.all-products {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
  width: 100%;
  .products-inputs {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 52px;
    .product-details {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: start;
      align-items: start;
      gap: 32px;
      #gtin {
        width: 204px;
      }
      #quantity {
        width: 128px;
      }
      #serialNumberType {
        width: 204px;
      }
      #serialNumbers {
        width: 216px;
      }
      #templateId {
        width: 204px;
      }
    }
    button {
      width: 200px;
      @include textbase($main-dark-orange, $advent, 16px, 700, 19px);
    }
  }
  .add-product-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    span {
      margin-left: 5px;
    }
    .add-image {
      width: 15px;
    }
  }
}
