<div class="popup-background">
  <div class="popup">
    <div class="title-section">
      <div class="top-title-section">
        <h4 class="h-advent-semibold">
          {{ orderTitle }}
        </h4>

        <button (click)="closeModal()">
          <img src="../../../assets/icons/close.svg" alt="" class="" />
        </button>
      </div>
      <div class="orange-line"></div>
    </div>
    <form (submit)="newOrder()" [formGroup]="addOrderForm">
      <!-- Omis Id -->
      <div class="oms">
        <span class="form-title" for="omsId">Oms ID</span>
        <div class="gray-line"></div>
        <input
          id="omsId"
          type="text"
          placeholder=""
          formControlName="omsId"
          [class.error]="
            addOrderForm.get('omsId')?.invalid &&
            addOrderForm.get('omsId')?.touched
          "
        />
        <div
          *ngIf="
            addOrderForm.get('omsId')?.invalid &&
            addOrderForm.get('omsId')?.touched
          "
          class="error-message"
        >
          Oms ID is required and must be a string.
        </div>
      </div>
      <!-- products -->
      <div class="form-section">
        <div class="form-title-section">
          <h2 class="form-title">Products</h2>
          <div class="gray-line"></div>
        </div>
        <div class="all-products" formArrayName="products">
          <div
            class="products-inputs"
            *ngFor="let product of products.controls; let i = index"
          >
            <button
              class="product-btn"
              type="button"
              (click)="openProduct(i)"
              [class.active]="openedProductId === i"
            >
              Product {{ i + 1 }}
            </button>
            <!-- inputs for products formArrayName="products"-->
            <div class="just-inputs">
              <div
                *ngIf="openedProductId === i"
                [formGroupName]="i"
                class="product-details"
              >
                <app-custom-input
                  [control]="products.at(i).get('gtin')"
                  label="GTIN"
                  controlName="gtin"
                  errorMessage="GTIN is required and must be a string."
                ></app-custom-input>

                <app-custom-input
                  [control]="products.at(i).get('quantity')"
                  label="Quantity"
                  type="number"
                  controlName="gtin"
                  errorMessage="Quantity is required and must be a number."
                ></app-custom-input>

                <app-custom-input
                  [control]="products.at(i).get('serialNumberType')"
                  label="Serial Number Type"
                  controlName="serialNumberType"
                  errorMessage="Serial Number Type is required."
                ></app-custom-input>

                <app-custom-input
                  [control]="products.at(i).get('serialNumbers')"
                  label="Serial Numbers"
                  controlName="serialNumbers"
                  errorMessage="Serial Numbers are required and must be a string."
                ></app-custom-input>

                <app-custom-input
                  [control]="products.at(i).get('templateId')"
                  label="Template ID"
                  controlName="templateId"
                  errorMessage="Template ID is required and must be a string."
                ></app-custom-input>
              </div>
            </div>
          </div>
          <!-- add products -->
          <button type="button" (click)="addProduct()" class="add-product-btn">
            <img
              src="../../../assets/icons/add-new.svg"
              alt=""
              class="add-image"
            />
            <span>Add a new product</span>
          </button>
        </div>
      </div>
      <!-- order details -->
      <div class="form-section">
        <div class="form-title-section">
          <h2 class="form-title">Order details:</h2>
          <div class="gray-line"></div>
        </div>
        <div formGroupName="orderDetails" class="order-details-inputs">
          <app-custom-input
            [control]="addOrderForm.get('orderDetails')?.get('factoryId')"
            label="Factory ID"
            controlName="factoryId"
            errorMessage="Factory ID is required and must be a string."
          ></app-custom-input>
          <app-custom-input
            [control]="addOrderForm.get('orderDetails')?.get('factoryName')"
            label="Factory Name"
            controlName="actoryName"
            errorMessage="Factory Name must be a string."
          ></app-custom-input>
          <app-custom-input
            [control]="addOrderForm.get('orderDetails')?.get('factoryAddress')"
            label="Factory Address"
            controlName="factoryAddress"
            errorMessage="Factory Address must be a string."
          ></app-custom-input>
          <app-custom-input
            [control]="addOrderForm.get('orderDetails')?.get('factoryCountry')"
            label="Factory Country"
            controlName="factoryCountry"
            errorMessage="Factory Country is required and must be a string."
          ></app-custom-input>
          <app-custom-input
            [control]="
              addOrderForm.get('orderDetails')?.get('productionLineId')
            "
            label="Production Line ID"
            controlName="productionLineId"
            errorMessage="Production Line ID is required and must be a string."
          ></app-custom-input>
          <app-custom-input
            [control]="addOrderForm.get('orderDetails')?.get('productCode')"
            label="Product Code"
            controlName="productCode"
            errorMessage="Product Code is required and must be a string."
          ></app-custom-input>
          <app-custom-input
            [control]="
              addOrderForm.get('orderDetails')?.get('productDescription')
            "
            label="Product Description"
            controlName="productDescription"
            errorMessage="Product Description is required and must be a string."
          ></app-custom-input>
          <div class="inputs-and-buttons">
            <div class="last-inputs">
              <app-custom-input
                [control]="addOrderForm.get('orderDetails')?.get('poNumber')"
                label="PO Number"
                controlName="poNumber"
                errorMessage="PO Number must be a string."
              ></app-custom-input>
              <app-custom-input
                [control]="
                  addOrderForm.get('orderDetails')?.get('expectedStartDate')
                "
                label="Expected Start Date"
                controlName="expectedStartDate"
                errorMessage="Expected Start Date must be a string."
              ></app-custom-input>
            </div>
            <div class="modal-buttons">
              <button (click)="closeModal()" class="btn-outline-dark">
                Cancel
              </button>
              <button type="submit" class="btn-solid">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
